.shad {
  box-shadow: 0px 0px 4px 1px white;
}
.shad2 {
  box-shadow: 0px 2px 3px 1px black;
}
.stroke {
  background-color: black;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
}
.poi {
  cursor: pointer;
}
.after::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #dadada;
  z-index: -2;
  width: 850px;
  height: 663px;
  border: 1px solid;
  transform: rotate(10deg) skewy(-40deg) translateY(25px);
}
/* Add this to your CSS file */
/* .after2::after {
  @apply absolute bottom-0 left-0 bg-red-500 -z-20 border;
  content: "";
  width: 850px;
  height: 663px;
  transform: rotate(10deg) skewY(-40deg) translateY(25px);
} */
@media (min-width: 768px) {
  .after::after {
    transform: rotate(30deg) skewy(35deg);
    background-color: #dadada;
    transform-origin: bottom;
  }
}
@media (min-width: 1024px) {
  .after::after {
    width: 850px;
    height: 860px;
    transform: rotate(90deg) skewY(27deg) translatex(-60px);
  }
}
/* .grid {
  display: grid;
  width: 100vw;
  height: 100px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " logo logo . link link link link link . btn ";
}
.grid1 {
  grid-area: logo;
  border: 1px solid;
}
.grid2 {
  grid-area: link;
  border: 1px solid;
}
.grid3 {
  grid-area: btn;
  border: 1px solid;
} */
